$accent-color: #e91e63

.day-view
  height: 100%
  width: 100%

  & > header.day-header
    height: 10%
    width: 100%
    padding: 10px

    & > .current-day
      position: relative
      height: 100%
      width: 100px
      left: 50px

      & > div
        text-align: center
        color: $accent-color

      & > .day
        font-size: .9rem
      & > .date
        margin-top: 10px
        font-size: 2rem
