$accent-color: #e91e63

.day-view
  width: 100%

  & > header.day-header
    height: 100px
    width: 100%
    display: flex

    & > .fab-action
      width: 100px
      height: 100%
      border-right: .5px solid #C8C4C3

    & > .current-day
      height: 100%
      width: calc(100% - 100px)
      border-bottom: .5px solid #C8C4C3
      display: flex
      align-items: center

      & > h1
        box-sizing: border-box
        color: $accent-color
        margin-left: 10px
        font-size: 2rem
        margin-bottom: 0

  & main.day-calendar
    width: 100%
    height: calc(100% - 100px)
    max-height: calc(100% - 100px)
    overflow: auto
    position: relative

    & .time-slot-row
      width: 100%
      height: 50px
      padding: 0
      margin: 0

